.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./1.jpg);
}
.bg-img2 {
  background-image: url(./2.jpg);
  background-color: #000;
  background-size: cover;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
}
.carousel-inner {
  height: fit-content;
}
.carousel-item {
  height: 32em;
}
